<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <style>
        body {
            background-image: url(@(ViewBag.ImageUrl == null ? "/images/fondo.jpg" : ViewBag.ImageUrl));
            background-repeat: no-repeat;
            background-position: 40% 15%;
            background-size: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
